<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<filter>
		<filter-name>EncodingFilter</filter-name>
		<description>encoding filter for ajax</description>
		<filter-class>hcg.hunel.core.util.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
	<filter>
		<filter-name>XssFilter</filter-name>
		<filter-class>hcg.hunel.core.util.XSSFilter</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>SAMEORIGIN</param-value>
		</init-param>     
	</filter>
	<filter-mapping>
		<filter-name>XssFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  CSRF 토큰 생성기 -->
	<filter>
    <filter-name>CSRFTokenizer</filter-name>
    <filter-class>hcg.hunel.core.util.CSRFTokenizer</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CSRFTokenizer</filter-name>
    <url-pattern>/menuAction.do</url-pattern>
<!--     <dispatcher>REQUEST</dispatcher> -->
<!--     <dispatcher>FORWARD</dispatcher> -->
  </filter-mapping>
  <!--  CSRF 토큰 생성기 끝 -->
  
	<listener>
		<listener-class>hcg.hunel.core.util.EhrSessionListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>commonAction</servlet-name>
		<servlet-class>hcg.hunel.core.action.hunelActionServlet</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/log4j.lcf</param-value>
		</init-param>

		<init-param>
			<param-name>comm-conf-file</param-name>
			<param-value>WEB-INF/system.properties</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>common.util.FileUploadServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FileDownServlet</servlet-name>
		<servlet-class>common.util.FileDownServlet</servlet-class>
	</servlet>

  <servlet>
    <servlet-name>FroalaImageServlet</servlet-name>
    <servlet-class>common.util.FroalaImageServlet</servlet-class>
  </servlet>
	
	<servlet>
		<servlet-name>FileDownServletRem</servlet-name>
		<servlet-class>biz.rem.re_common.Re_download</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>jrmhAction</servlet-name>
		<servlet-class>biz.jrm.JrmhServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HttpJson</servlet-name>
		<servlet-class>webservice.interfaces.HttpJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>commonAction</servlet-name>
		<url-pattern>/commonAction.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>commonAction</servlet-name>
		<url-pattern>/hunelAction.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FU</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FileDownServlet</servlet-name>
		<url-pattern>/FD</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>FroalaImageServlet</servlet-name>
		<url-pattern>/FroalaImage</url-pattern>
	</servlet-mapping>
  
	<servlet-mapping>
		<servlet-name>FileDownServletRem</servlet-name>
		<url-pattern>/FDR</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jrmhAction</servlet-name>
		<url-pattern>/jrmhAction.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>HttpJson</servlet-name>
	  <url-pattern>/HttpJson</url-pattern>
	</servlet-mapping> 
	
  <!-- 메뉴권한체크용 서블릿 -->
  <servlet>
    <servlet-name>menuAction</servlet-name>
    <servlet-class>common.action.MenuActionServlet</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/log4j.lcf</param-value>
    </init-param>
    <init-param>
      <param-name>comm-conf-file</param-name>
      <param-value>WEB-INF/system.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuAction</servlet-name>
    <url-pattern>/menuAction.do</url-pattern>
  </servlet-mapping>
  <!-- 메뉴권한체크용 서블릿 끝-->
  
<!-- 채용관련 시작 -->

  <!-- 메뉴권한체크용 서블릿 -->
  <servlet>
    <servlet-name>inteviewMenuAction</servlet-name>
    <servlet-class>biz.rem.common.servlet.InterViewMenuActionServlet</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/log4j.lcf</param-value>
    </init-param>
    <init-param>
      <param-name>comm-conf-file</param-name>
      <param-value>WEB-INF/system.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>inteviewMenuAction</servlet-name>
    <url-pattern>/inteviewMenuAction.do</url-pattern>
  </servlet-mapping>
  <!-- 메뉴권한체크용 서블릿 끝-->
  
   <servlet>
		<servlet-name>interview</servlet-name>
		<servlet-class>biz.rem.common.servlet.IndexServlet</servlet-class>
		<init-param>
			<param-name>company</param-name>
			<param-value>10</param-value>
		</init-param>     
		<init-param>
			<param-name>currentForwardLink</param-name>
			<param-value>/rem/interview/index.jsp</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>reCommonAction</servlet-name>
		<servlet-class>biz.rem.apply.servlet.JrmServlet</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/log4j.lcf</param-value>
		</init-param>

		<init-param>
			<param-name>comm-conf-file</param-name>
			<param-value>WEB-INF/system.properties</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ReFileDownload</servlet-name>
		<servlet-class>biz.rem.common.file.ReFileDownload</servlet-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>charactorEncoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
   </servlet>
   
	<servlet>
		<servlet-name>ReImageView</servlet-name>
		<servlet-class>biz.rem.common.file.ReImageView</servlet-class>
		<init-param>
			<param-name>filePath</param-name>
			<param-value>/rem/apply/common/images</param-value>
		</init-param>
		<init-param>
			<param-name>fileName</param-name>
			<param-value>noPhoto.gif</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>reInverviewAction</servlet-name>
		<servlet-class>biz.rem.interview.servlet.JrmServlet</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/log4j.lcf</param-value>
		</init-param>

		<init-param>
			<param-name>comm-conf-file</param-name>
			<param-value>WEB-INF/system.properties</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
 
	
	<servlet-mapping>
  	  <servlet-name>reCommonAction</servlet-name>
	  <url-pattern>/Application.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	  <servlet-name>ReFileDownload</servlet-name>
	  <url-pattern>/ReFileDownload</url-pattern>
	 </servlet-mapping> 
	 
	<servlet-mapping>
	  <servlet-name>ReImageView</servlet-name>
	  <url-pattern>/ReImageView</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	  <servlet-name>interview</servlet-name>
	  <url-pattern>/interview</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	  <servlet-name>reInverviewAction</servlet-name>
	  <url-pattern>/Interview.do</url-pattern>
	</servlet-mapping>
	
	  <!-- 메뉴권한체크용 서블릿 -->
  <servlet>
    <servlet-name>ReMenuAction</servlet-name>
    <servlet-class>biz.rem.common.servlet.ReMenuActionServlet</servlet-class>
    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/log4j.lcf</param-value>
    </init-param>
    <init-param>
      <param-name>comm-conf-file</param-name>
      <param-value>WEB-INF/system.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReMenuAction</servlet-name>
    <url-pattern>/reMenuAction.do</url-pattern>
<!--     <dispatcher>REQUEST</dispatcher> -->
<!--     <dispatcher>FORWARD</dispatcher> -->
  </servlet-mapping>
  <!-- 메뉴권한체크용 서블릿 끝-->
	
<!-- 채용관련 끝 -->
   
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	  <mime-mapping>
	    <extension>js</extension>
	    <mime-type>application/x-javascript</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>png</extension>
	    <mime-type>image/png</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>jpg</extension>
	    <mime-type>image/jpeg</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>gif</extension>
	    <mime-type>image/gif</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>pdf</extension>
	    <mime-type>application/pdf</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>ppt</extension>
	    <mime-type>application/mspowerpoint</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>hwp</extension>
	    <mime-type>application/x-hwp</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>doc</extension>
	    <mime-type>application/msword</mime-type>
	  </mime-mapping>
	  
	  <mime-mapping>
	    <extension>xls</extension>
	    <mime-type>application/excel</mime-type>
	  </mime-mapping>

	<error-page>
		<error-code>500</error-code>
		<location>/common/jsp/error.jsp</location>
	</error-page>

</web-app>